* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  
    :root{
    --btn_main_color: #0066ff;
    --btn_hover: #8000ff;
    --btn_shadow_hover: 0 10px 15px rgba(0, 0, 0, 0.2);
    --form_color1: #6a0dad;
    --form_color2:#8000ff;
    --form_ovarlay_color: rgba(0, 0, 0, 0.6);
    --white:#fff;
    --black:#000;
    --Mainfont:'Lilita One';
    }
  
    /*GRADIENT BACKGROUNG*/
    html, body {
    margin: 0;
    padding: 0;
    }
    
    body {
    position: relative;
    color: var(--white);
    height: 80vh;
    overflow: hidden;
    }
    
    body::before {
    content: '';
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--black), #260450);
    z-index: -1;
    }
    /*GRADIENT BACKGROUND*/
    
    /* Navbar Home/Category/About/Contact Section */
    /*Changed Entirely*/
    .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;     /* Navbar transparent and other stuff*/
    padding: 10px 10px;
    background-color:transparent;
    }
    
    .logo{
    font-family: var(--Mainfont);
    font-size: 25px;            /* Star And YourChoice (Still need to change) */
    font-weight: bold;
    cursor: pointer;
    }
    
    .nav-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index:1000;
    }
    
    .nav-btn {
    background:var(--btn_main_color);
    text-decoration: none;
    color: var(--white);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--Mainfont);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
    }
    
    .nav-btn:hover {
    transform: scale(1.1); 
    background-color:var( --btn_hover);
    box-shadow:var(--btn_shadow_hover);
    color: var(--white);
    }
    
    /* Dropdown styles */
    .dropdown {
    position: relative;
    }
  
   #user-dropdown{
   min-width:120px;      /* User Icon Dropdown position*/
   left: -95px;
   top:40px;
   }
  
   .dropdown-content {
    display: none;
    position: absolute;
    background:var(--white);
    min-width: 150px;
    border-radius: 8px;
    z-index: 100;
    font-family:var(--Mainfont);
    top: 45px;
    left:-20px;
    }
  
   .dropdown-content a {
    color: var(--black);
    padding: 10px;
    display: block;
    text-decoration: none;
    }
  
   .dropdown-content a:hover {
    background-color:var( --btn_hover);
    color:#fff;
    border-radius: 8px;
   }
  
   /* Show dropdown on active */
   .show {
    display: block;
   }
  
    /* ROBOT */
    .robot{
    position:fixed;
    top: 50px;
    left: 900px;
    height: 100px;
    width: 100%;
    cursor:pointer;
    }
  
   /* Main container(About-Text) */
   .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding:0 20px;
    box-sizing: border-box;
    font-family: var(--Mainfont);
    margin-top: -30px;
   }
  
   /* Text section */
   .text-section {
   max-width: 50%;
   padding: 100px; 
   }
  
   /* Title */
   .text-section h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: var(--white);
   }
  
   /* Paragraph text */
   .text-section p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
    color: var(--white);
   }
  
   /* Button container */
   .buttons {
    display: flex;
    gap: 15px;
   }
  
   /* Button styles */
   .btn {
    padding: 12px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;  
    font-family: var(--Mainfont);
    text-decoration: none;
    background:var(--btn_main_color);
    color: var(--white);
   }
  
   /* Hover effects for buttons */
    .btn:hover {
    transform: scale(1.1); 
    background-color:var( --btn_hover);
    box-shadow: var(--btn_shadow_hover);  
    color: var(--white); 
    }
  
   /* Login/Sign up */
    .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--form_ovarlay_color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000; /* Higher than dropdown and nav */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    }
    
    .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--form_ovarlay_color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000; /* Higher than dropdown and nav */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    }
    
    .hidden {
    display: none;  /* To not show login and sign up together*/
    }
    
    
    .modal-overlay:not(.hidden) {
    visibility: visible;
    opacity: 1;
    }
      
      
    .login-container {
    background: var(--white);
    border-radius: 12px;
    font-family: var(--Mainfont);
    padding: 30px 40px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    width: 360px;
    position: relative;
    text-align: center;
    }
      
    /* Close Button Style */
    #close-modal {
    position: absolute;
    top: 10px;
    right: 15px;                /* It is Cross (X) Style */
    font-size: 24px;
    color: var(--black);
    cursor: pointer;
    transition: color 0.3s ease;
    }
      
    #close-modal:hover {
    color: #ff0000;
    }
      
    /* IDK what just happen. but it is beatiful (transition between login pop-up)*/
    /*.hidden {
    display: none;
    }*/
      
    #form-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--form_color1);
    }
      
    form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--black);
    text-align: left;
    }
      
    form input[type="text"],
    form input[type="password"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(128, 155, 206, 0.2);
    transition: border-color 0.3s, box-shadow 0.3s;
    }
      
    form input[type="text"]:focus,
    form input[type="password"]:focus {
    outline: none;
    border-color: #808bbc;
    box-shadow: 0 0 5px rgba(128, 155, 206, 0.8);
    }
      
    .modal-overlay button {
    width: 100%;
    background: linear-gradient(to right, var(--form_color1), var(--form_color2));
    color: var(--white);
    font-family:var(--Mainfont);
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    }
      
    .modal-overlay button:hover {
    background: linear-gradient(to right, var(--form_color2), var(--form_color1));
    }
      
    #toggle-form {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: var(--black);
    }
      
    #toggle-form a {
    color: var(--form_color1);
    text-decoration: none;
    font-weight: bold;
    }
      
    #toggle-form a:hover {
    color: var(--form_color2);
    }
    .password-container {
    position: relative;
    width: 100%;
    }
      
    /* Eye icon styling */
   .eye1 {
    position: absolute;
    right: 50px;
    top: 47%;
    transform: translateY(200%);
    cursor: pointer;
    font-size: 18px;
    color:var(--black);
    }
    .eye2 {
    position: absolute;
    right: 50px;
    top: 47.5%;
    transform: translateY(-14%);
    cursor: pointer;
    font-size: 18px;
    color:var(--black);
    }
    
    .eye3 {
    position: absolute;
    right: 50px;
    top: 43%;
    transform: translateY(535%);
    cursor: pointer;
    font-size: 18px;
    color:var(--black);
    }
    
    i.visible {
    display: block;/*fixed initializing*/
    }
    i.hidden {
    display: none;/*fixed initializing*/
    }  
